<%- model_class = Horario -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='horario'>
  
  <p><%= @horario.dia %></p>
  <p><%= @horario.hora %></p>
  <p><%= @horario.aula %></p>
  <p><%= @horario.materia_id %></p>
  <p><%= @horario.instructor_id %></p>
  <p><%= @horario.curso_id %></p>
  <p><%= @horario.created_at %></p> 

 
</div>
