<%- model_class = Curso -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='curso'>
  
  <p><%= @curso.id %></p>
  <p><%= @curso.ficha %></p>
  <p><%= @curso.nombre %></p>
  <p><%= @curso.created_at %></p>

</div>
