<%= simple_form_for(@materia, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

  <%= f.error_notification %>
 

  <%= f.input :nombres, :label => "Nombres",  :required => true %>


   <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', materias_path, :class => 'btn btn-small' %>
  </div>
<% end %>
