<tr id=<%= "materia_#{materia.id}" %>>
  <td><%= materia.id%></td>
  <td><%= materia.nombres %></td>
  <td><%= materia.created_at %></td>

  <td>
    <%= link_to 'Mostrar', materia, :remote => true, :class => 'btn btn-success btn-mini' %>
    <%= link_to 'Editar', edit_materia_path(materia), :remote => true,
        :class => 'btn btn-mini' %>
    <%= link_to 'Eliminar', materia, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>
