<%- model_class = Estudiante -%>
<div class="page-header">
  <br> 
  <br>
  <h1>Estudiantes</h1> 
</div>
<%= form_tag request.path, :method => 'get' do %>
 <%= content_tag :label do %>
   Nombre Aprendiz:
   <%= text_field_tag :search,params[:search]%>
   <%= submit_tag "Consultar", :name => nil %>
 <% end %>
<% end %>
<table class="table table-striped table-bordered table-condensed pretty">
  <thead>
    <tr> 
      <th><%= sortable "id" %></th>
      <th><%= sortable "nombre" %></th> 
      <th><%= sortable "cedula" %></th>
      <th><%= sortable "email" %></th>     
      <th><%= sortable "direccion" %></th>
      <th><%= sortable "fch_nacimiento" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @estudiantes %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to 'Nuevo Estudiante', new_curso_estudiante_path %></td> 
      <td><%= link_to 'Atras' , cursos_path %>
    </tr>
    <div align="center"> 
     <%= will_paginate @estudiantes, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
     &raquo;' %> 
    </div>

  </tfoot>
</table>

<br />
<br />
<p>
Total Aprendices : <%= @estudiantes.total_entries %>
</p>

<hr>

 Seleccione numero de registros por pagina:
<br>
<form id="myform" method='GET' action='estudiantes' >
 <select name='limit' onchange='actualizar();'>
   <option value = '2'></option>
   <option value = '2'>2</option>
   <option value = '4'>4</option>
   <option value = '6'>6</option>
 </select>
</form>

            
