<tr id=<%= "instructor_#{instructor.id}" %>>
  <td><%=instructor.id%></td>
  <td><%= instructor.nombres %></td>
  <td><%= instructor.cedula %></td>
  <td><%= instructor.email%></td>
  <td><%= instructor.direccion %></td>
  <td><%= instructor.telefono %></td>
  <td><%= instructor.fch_nacimiento %></td>
  <td><%= instructor.materia.nombres %></td>

  <td>
    <%= link_to 'Mostrar', instructor, :remote => true, :class => 'btn btn-success btn-mini' %>
    <%= link_to 'Editar', edit_instructor_path(instructor), :remote => true,
        :class => 'btn btn-mini' %>
    <%= link_to 'Eliminar', instructor, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>