<%- model_class = Instructor -%>
<div class="page-header">
  <br>
  <br>
  <h1>Instructores</h1>
</div>
<%= form_tag request.path, :method => 'get' do %>
 <%= content_tag :label do %>
   Nombre Instructor:
   <%= text_field_tag :search,params[:search]%>
   <%= submit_tag "Consultar", :name => nil %>
 <% end %>
<% end %>
<table class="table table-striped table-bordered table-condensed pretty">
  <thead>
    <tr>
      <th><%= sortable "id" %></th> 
      <th><%= sortable "nombre" %></th>
      <th><%= sortable "cedula" %></th>
      <th><%= sortable "email" %></th>
      <th><%= sortable "direccion" %></th>
      <th><%= sortable "telefono" %></th>
      <th><%= sortable "fch_nacimiento" %></th>
      <th><%= sortable "materia" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody> 
     <%= render @instructores %>
  </tbody>
  <tfoot>
    <div align="center"> 
       <%= will_paginate @instructores, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
       &raquo;' %> 
    </div>
    <tr>
      <td><%= link_to 'Nuevo Instructor', new_instructor_path, :remote => true %></td>
    </tr>
  </tfoot>
</table>

<br>
<br>
<p>
  Total Instructores : <%= @instructores.total_entries %>
</p>

<hr>

 Seleccione numero de registros por pagina:
<br>
<form id="myform" method='GET' action='instructores' >
 <select name='limit' onchange='actualizar();'>
   <option value = '2'></option>
   <option value = '2'>2</option>
   <option value = '4'>4</option>
   <option value = '6'>6</option>
 </select>
</fo